body{background-image: url("../immg/pink-grey-and-white-petaled-flowers-clip-art-2395251.jpg");
background-repeat: no-repeat;
background-size: contain;
background-position: center;}



.sign{background-image: url("../img/geometric-decoration-5836.jpg");
   background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: auto;
width: 100vw;}
.con {
    background-color: #00000080;
    color: #cacaca;
}
.con h2{
color: yellow;
padding-left: 10px;
border-left: 2px solid yellow;
margin-bottom: 10px;
}